@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/PTSans-Italic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/PTSans-BoldItalic.woff2") format("woff2");
    font-display: swap;
}

/* PT Sanse Narrow */
@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/PTSansNarrow-Bold-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", san-serif;

    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #FBF7F4;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffff;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

/* Pages */
header {
    color: white;
    background-color: black;
}

.navigation-link {
    font-family: "PT Sans Narrow",sans-serif;
    line-height: 22px;
   /* color: white;*/
   color: inherit;
   font-weight: 700;
   text-align: center;
   background-color: black;
   text-transform: uppercase;
   text-decoration: none;
}

.main-index{
    color: white;
    background-color: black;
    background-image: url(/img/Интерьер.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/*List*/
.advantages-list {
    text-align: center;
}

/*Title*/
.advantages-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;

}

.index-colums {
    background-color: #FBF7F4;
    color: black;
    background-image: url("/img/noisy-texture.png");
    font-family: "PT Sans Narrow", sans-serif;
}

.services {
    text-transform:uppercase
}

.services-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
}

.services-list {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.services-price {
    color: #AF7842;
}

.section-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    text-transform:uppercase;

}

.section-subname {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-transform:uppercase;
    color: #AF7842;
}

.contact-adress {
    font-style: normal;
}

.phone-number {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #242424;
}

.time-job {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.section-description {
   font-family: "PT Sans", sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;

}

.sing-up-label {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}

.footer-page {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #242424;
    background-image: url(/img/noisy-texture.png);
    background-repeat: repeat;

}

.footer-page a {
    color: inherit;
}

.footer-page .prodaction-link {
    color: #AF7842;
}

.nav-bar-page-item {
/*    font-family: PT Sans Narrow; */
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
}

.nav-bar-page-item a {
    color: inherit;
    text-decoration: none;

}

.visually-hidden {
    display: none;
}

.content-page {
    font-size: 14px;
    font-weight: 700;
    color: #242424;
    background-color: #f3f3f3;
    background-image: url(/img/noisy-texture.png);
    background-repeat: repeat;
}

.page-inner-header {
    color: #242424;
    background-color: #f3f3f3;
    background-image: url(/img/noisy-texture.png);
    background-repeat: repeat;
}

.page-title {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    text-transform: uppercase;
}

.breadcroums-list {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.fieldset-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
